*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.welcome,
.loading,
.aboutMe {
  height: 100vh;
  width: 100%;
  border-top: 1px solid white;
  background: rgb(131, 128, 130);
  background: rgb(91, 88, 90);
  background: radial-gradient(circle, rgb(91, 88, 90) 0%, rgb(0, 0, 0) 100%);
  -webkit-overflow-y: hidden;
  -moz-overflow-y: hidden;
  -o-overflow-y: hidden;
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}
.welcome .light,
.loading .light,
.aboutMe .light {
  width: 0px;
  opacity: 0.75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}
.welcome .x1,
.loading .x1,
.aboutMe .x1 {
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.welcome .x2,
.loading .x2,
.aboutMe .x2 {
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}
.welcome .x3,
.loading .x3,
.aboutMe .x3 {
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  left: -15%;
}
.welcome .x4,
.loading .x4,
.aboutMe .x4 {
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}
.welcome .x5,
.loading .x5,
.aboutMe .x5 {
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}
.welcome .x6,
.loading .x6,
.aboutMe .x6 {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  left: -81%;
}
.welcome .x7,
.loading .x7,
.aboutMe .x7 {
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}
.welcome .x8,
.loading .x8,
.aboutMe .x8 {
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}
.welcome .x9,
.loading .x9,
.aboutMe .x9 {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}
@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
@-moz-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
@-o-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  font-size: 1.7rem;
  letter-spacing: 1.2rem;
  font-weight: 100;
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  margin-bottom: 5rem;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}
.loading-text button {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  background: transparent;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 0.5rem 3rem;
  font-size: 2em;
  border-radius: 5px;
  opacity: 0.5;
  margin: 0 auto;
  transition: 0.3s;
  z-index: 999;
}
.loading-text button:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  transition: 0.9s;
  box-shadow: 0 8px 15px 0 rgba(255, 255, 255, 0.5);
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
.welcome .nav__Bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  margin-bottom: 1rem;
}
.welcome .nav_Bar--img {
  width: 8rem;
}
@media (min-width: 40em) {
  .welcome .nav_Bar--img {
    width: 9rem;
  }
}
@media (min-width: 60em) {
  .welcome .nav_Bar--img {
    width: 10rem;
  }
}
.welcome .fa-bars {
  color: rgba(243, 243, 243, 0.5);
  font-size: 2rem;
  padding-right: 2rem;
}
@media (min-width: 40em) {
  .welcome .fa-bars {
    display: none;
  }
}
.welcome .bars__parent {
  position: relative;
}
.welcome .bars__kids {
  display: none;
  list-style-type: none;
}
@media (min-width: 40em) {
  .welcome .bars__kids {
    display: flex;
  }
}
.welcome .bars__kids a {
  padding: calc(0.2rem + 1vw);
  color: rgba(243, 243, 243, 0.5);
  font-weight: 600;
}
@media (min-width: 40em) {
  .welcome .bars__kids {
    font-size: calc(0.5rem + 1.5vw);
  }
}
.welcome .checkbox {
  display: none;
}
.welcome .checkbox:checked ~ label i {
  display: none;
}
.welcome .checkbox:checked ~ .bars__parent .bars__kids {
  display: flex;
}
.welcome .bars__parent:hover {
  cursor: pointer;
}
.welcome .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome .main .main__welcomeText {
  display: none;
  padding: calc(1rem + 2vw);
}
@media (min-width: 40em) {
  .welcome .main .main__welcomeText {
    display: block;
  }
}
.welcome .main .header {
  position: absolute;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: rgba(252, 249, 249, 0.5);
  transform: translateY(-180%);
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 5px rgba(255, 255, 255, 0.2);
  text-align: center;
}
.welcome .main #head1,
.welcome .main #head2,
.welcome .main #head3,
.welcome .main #head4,
.welcome .main #head5 {
  opacity: 0;
}
.welcome .main #head1 {
  -webkit-animation: fadeOut 1 1s ease-in;
  -moz-animation: fadeOut 1 1s ease-in;
  -o-animation: fadeOut 1 1s ease-in;
  animation: fadeOut 1 1s ease-in;
}
.welcome .main #head2 {
  -webkit-animation: fadeOut 1 1s ease-in;
  -moz-animation: fadeOut 1 1s ease-in;
  -o-animation: fadeOut 1 1s ease-in;
  animation: fadeOut 1 1s ease-in;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
.welcome .main #head3 {
  -webkit-animation: fadeOut 1 1s ease-in;
  -moz-animation: fadeOut 1 1s ease-in;
  -o-animation: fadeOut 1 1s ease-in;
  animation: fadeOut 1 1s ease-in;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
.welcome .main #head4 {
  -webkit-animation: fadeOut 1 1s ease-in;
  -moz-animation: fadeOut 1 1s ease-in;
  -o-animation: fadeOut 1 1s ease-in;
  animation: fadeOut 1 1s ease-in;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
.welcome .main #head5 {
  -webkit-animation: finalFade 1 1s ease-in;
  -moz-animation: finalFade 1 1s ease-in;
  -o-animation: finalFade 1 1s ease-in;
  animation: finalFade 1 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.welcome .main .main__middleBlock {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: calc(1rem + 3vw);
}
@media (min-width: 40em) {
  .welcome .main .main__middleBlock {
    grid-template-columns: 2fr 4fr;
  }
}
.welcome .main .main__middleBlock img {
  width: min(250px, 85%);
  aspect-ratio: 1;
  object-fit: cover;
  transform: rotateY(180deg);
}
@media (min-width: 40em) {
  .welcome .main .main__middleBlock img {
    width: 100%;
  }
}
.welcome .main .main__middleBlock .blockFlex {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(1rem + 5vw);
}
.welcome .main .main__middleBlock .grid {
  display: grid;
  gap: 2.6rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr;
}
.welcome .main .main__middleBlock .grid a {
  border-radius: 0.75em;
  transition: transform 350ms ease-in-out;
  overflow: hidden;
  text-align: center;
  color: rgba(243, 243, 243, 0.5);
  font-size: calc(1rem + 4vw);
}
.welcome .main .main__middleBlock .grid a:hover {
  transform: scale(1.2);
  transition: 1000ms;
}
@media (min-width: 40em) {
  .welcome .main .main__middleBlock .grid a {
    font-size: calc(2rem + 2vw);
  }
}
@media (min-width: 60em) {
  .welcome .main .main__middleBlock .grid a {
    font-size: calc(2rem + 4vw);
  }
}
.welcome .main .footer__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.welcome .main .footer__icon a {
  color: rgba(243, 243, 243, 0.5);
  font-size: calc(1rem + 1.5vw);
}

#aboutMe {
  width: 100%;
  padding: calc(1.5rem + 8vw);
}
#aboutMe .aboutMe__block {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  position: relative;
}
#aboutMe .aboutMe__block .grey__block {
  grid-column: 1;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  color: #555;
}
#aboutMe .aboutMe__block .grey__block h1 {
  font-size: calc(0.3333333333rem + 2vw);
}
#aboutMe .aboutMe__block .grey__block p {
  font-size: calc(0.3333333333rem + 1vw);
}
#aboutMe .aboutMe__block .grey__block .wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#aboutMe .darkgrey__block {
  grid-column: 2;
  background-color: rgba(243, 243, 243, 0.5);
  color: aliceblue;
}
#aboutMe .darkgrey__block .darkgrey__flexBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 2rem;
  gap: calc(1rem + 2vw);
}
#aboutMe .darkgrey__block .darkgrey__flexBlock h1 {
  font-size: calc(0.5rem + 2vw);
  font-weight: 800;
  text-align: center;
}
#aboutMe .darkgrey__block .darkgrey__flexBlock p {
  font-size: calc(0.3333333333rem + 1vw);
  text-align: end;
}
#aboutMe .middle__block {
  position: absolute;
  width: 100%;
  top: 5%;
  text-align: center;
}
#aboutMe .middle__block img {
  width: min(90%, 450px);
}

/*# sourceMappingURL=style.css.map */
