@use "./var";

.aboutMe {
  padding: calc(var.$spacer * 1.5 + 8vw);
  position: relative;

  .aboutMe__block {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    @media (min-width: 60em) {
      flex-direction: row;
    }
    .grey__block {
      background-color: whitesmoke;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #555;
      flex: 1;
      .grey__flexBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: calc(var.$spacer/2 + 3vw);

        gap: calc(var.$spacer + 1.2vw);
        width: 70%;
        h1 {
          font-size: calc(var.$spacer / 3 + 2vw);
        }
        p {
          font-size: calc(var.$spacer/2 + 0.8vw);
          text-align: center;
        }
        .wave {
          animation-name: wave-animation;
          animation-duration: 2.5s;
          animation-iteration-count: infinite;
          transform-origin: 70% 70%;
          display: inline-block;
        }

        @keyframes wave-animation {
          0% {
            transform: rotate(0deg);
          }
          10% {
            transform: rotate(14deg);
          }
          20% {
            transform: rotate(-8deg);
          }
          30% {
            transform: rotate(14deg);
          }
          40% {
            transform: rotate(-4deg);
          }
          50% {
            transform: rotate(10deg);
          }
          60% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
      }
    }
    .darkgrey__block {
      background-color: var.$color;
      color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      .darkgrey__flexBlock {
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: calc(var.$spacer/2 + 2vw);

        gap: calc(var.$spacer + 1.2vw);
        h1 {
          font-size: calc(var.$spacer + 1.2vw);
          font-weight: 800;
          text-align: center;
        }
        p {
          font-size: calc(var.$spacer/2 + 0.6vw);
          text-align: center;
          .will {
            text-decoration: line-through;
            &:hover {
              text-decoration: none;
              cursor: pointer;
            }
          }
          a {
            color: #555;
            font-weight: 900;
            z-index: 9999;
          }
        }
      }
    }
    .middle__block {
      img {
        display: none;
        position: absolute;
        width: min(40%, 330px);
        filter: saturate(0);
        top: 69%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @media (min-width: 60em) {
          display: block;
        }
      }
    }
  }
  .goHome {
    position: absolute;
    display: none;

    @media (min-width: 40em) {
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      display: block;
    }

    a {
      background-color: transparent;
      padding: 0.5rem 2rem;
      border: 2px solid white;
      border-radius: calc(var.$spacer/3);
      color: var.$color;
      font-weight: 900;
      font-size: calc(var.$spacer * 0.8);
      box-shadow: 0 0 5px var.$color, inset 0 0 5px var.$color;
      @media (min-width: 40em) {
        padding: 0.5rem 3rem;
      }
      @media (min-width: 60em) {
        padding: 0.5rem 5rem;
      }
    }
  }
}
